node_modules/
artifacts/
test/ReactNativeIconTest/android/app/src/main/res
test/CordovaApp/platforms/android/res
test/NativeApp/android/native_app/src/main/res
npm-debug.log
src/init/test-images/*-output.png
src/label/test-images/*-output.png
src/resize/test-images/*output.png
.nyc_output/

.idea
*.iml

# Windows junk.
Thumbs.db

.vscode